body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* define legend */

.legend {
  line-height: 18px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}


.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}